<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Imóvel</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
  
  
  .input-container {
    position: relative;
    margin-bottom: 1rem;
  }
  .input-container label {
    font-weight: 600;
    color: #4a90e2;
    margin-bottom: 0.25rem;
  }
  .input-container input,
  .input-container select,
  .input-container textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: border-color 0.3s;
  }
  .input-container input:focus,
  .input-container select:focus,
  .input-container textarea:focus {
    outline: none;
    border-color: #4a90e2;
  }
  .input-container .helper-text {
    font-size: 0.75rem;
    color: #999;
    margin-top: 0.25rem;
  }
  .upload-container {
    border: 2px dashed #ccc;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    transition: border-color 0.3s;
  }
  .upload-container:hover {
    border-color: #4a90e2;
  }
  .upload-container p {
    font-size: 0.875rem;
    color: #999;
    margin: 0.5rem 0;
  }

  .dropdown-menu.right-0 {
    right: 0;
    left: auto;
  }
  
  .dropdown-menu.left-0 {
    left: 0;
    right: auto;
  }
  
  @media (max-width: 768px) {
    .dropdown-menu.left-0, .dropdown-menu.right-0 {
      right: auto;
      left: 0;
    }
  }
  
  .profile-image {
    margin-top: 20px;
    text-align: center;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* Estilos para a imagem de perfil na navbar */
  .profile-image-navbar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
  }

  /* Estilos para a animação do link na navbar */
  .nav-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #fff;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
  }
  .nav-link:hover::before {
    width: 100%;
  }
  .navbar {
    background-color: #4a90e2;
  }


  .error-message {
    color: red; 
    font-size: 14px; 
  }

</style>
<body class="bg-gray-100">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-gradient-to-r from-blue-300 to-blue-500 navbar-light bg-light">
    <div class="container-fluid">
      <a class="text-2xl font-semibold text-white hover:text-blue-300" href="/">AlugueVago</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item dropdown relative">
            <a class="nav-link dropdown-toggle flex items-center" href="#" id="favoritesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-star text-white mr-2"></i> Favoritos  <span id="favoritesCount" class="badge badge-pill badge-primary">0</span>
            </a>
            
            <div class="dropdown-menu hidden absolute right-0 mt-2 w-70 bg-white border rounded-md shadow-lg group-hover:block" aria-labelledby="favoritesDropdown">
              <div id="favoritesList"></div>
            </div>
          </li>
          <% if (userIsLoggedIn) { %>
           
            <li class="nav-item dropdown relative">
              <a class="nav-link dropdown-toggle flex items-center" href="#" id="profileDropdownToggle" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="text-white"><%= user.nomeUsuario %></span>
              </a>  
              <div class="dropdown-menu hidden absolute right-0 mt-2 w-28 bg-white border rounded-md shadow-lg group-hover:block" aria-labelledby="profileDropdownToggle">
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/imoveis/meus-imoveis">Meus Imoveis</a>
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/users/account-config">Configuração de Conta</a>
                <a class="block px-4 py-2 text-gray-800 hover:bg-gray-100 text-decoration-none" href="/users/logout">Deslogar</a>
              </div>
            </li>
            <div>
              <% if (user.imagemPerfil) { %>
                <img class="profile-image-navbar" src="/users/<%= user.imagemPerfil %>" alt="Imagem de Perfil" />
              <% } else { %>
                <i class="profile-image-navbar fas fa-user-circle fa-2x bg-blue-300 text-gray-500"></i>
              <% } %>
            </div>            
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link profile-link text-white" href="/users/login">
                <i class="fas fa-user"></i>
                Fazer Login
              </a>
              <li><a class="nav-link text-white" href="/users/cadastro">Cadastro</a></li>
            </li>
          <% } %>
          
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mx-auto mt-4">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-4xl mx-auto">
      <h1 class="text-2xl font-semibold text-center mb-6">Editar Imóvel</h1>
      <% if (errorMessages && errorMessages.length > 0) { %>
        <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
          <% for (const errorMessage of errorMessages) { %>
            <%= errorMessage %><br />
          <% } %>
        </div>
      <% } %>
  
      <form action="/imoveis/edit-imovel/<%=imovel.id%>" method="POST" enctype="multipart/form-data" id="imovelForm">
     
        <!-- Parte 1 - Informações do Imóvel -->
        <h2 class="text-lg font-semibold mb-4 border-b pb-2">Informações do Imóvel</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <div>
            <!-- Tamanho -->
            <div class="input-container">
              <label for="tamanho">Tamanho (m²): <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o tamanho do imóvel">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input type="number" id="tamanho" name="tamanho" class="rounded-md focus:border-blue-500" 
              title="Informe o tamanho do imóvel"
              value="<%= imovel.tamanho %>"
              required >
              <div class="error-message" id="tamanhoError"></div>
            </div>
            <!-- Quantidade de Cômodos -->
            <div class="input-container">
              <label for="quantidadeComodos">Quantidade de Cômodos: <span class="text-red-500">*</span>
                <span class="info-icon" title="Informe a quantidade cômodos">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>

              <input type="number" id="quantidadeComodos" name="quantidadeComodos" class="rounded-md focus:border-blue-500" 
              title="Informe a quantidade cômodos"
              value="<%= imovel.quantidadeComodos %>"
              required>
              <div class="error-message" id="quantidadeComodosError"></div>
            </div>
            <!-- Mobiliado -->
            <div class="input-container">
              <label for="mobiliado">Mobiliado: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel é mobiliado">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="mobiliado" name="mobiliado" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel é mobiliado" 
              value = "<%= imovel.mobiliado %>"
              required>
              <div class="error-message" id="mobiliadoError"></div>
              <% const mobiliadoInt = imovel.mobiliado ? 1 : 0; %>
              <option value="" <%= mobiliadoInt === 0 ? 'selected' : '' %>>Escolha a opção</option>
              <option value="1" <%= mobiliadoInt === 1 ? 'selected' : '' %>>Sim</option>
              <option value="0" <%= mobiliadoInt === 0 ? 'selected' : '' %>>Não</option>
            
              </select>
            </div>
            <!-- Status de Negociação -->
            <div class="input-container">
              <label for="statusNegociacao">Status de Negociação: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel já está sendo negociado">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="statusNegociacao" name="statusNegociacao" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel já está sendo negociado"
              required>
              <div class="error-message" id="statusNegociacaoError"></div>
              <% const statusNegociacaoInt = imovel.statusNegociacao ? 1 : 0; %>
              <option value="" <%= statusNegociacaoInt === 0 ? 'selected' : '' %>>Escolha a opção</option>
              <option value="1" <%= statusNegociacaoInt === 1 ? 'selected' : '' %>>Disponível</option>
              <option value="0" <%= statusNegociacaoInt === 0 ? 'selected' : '' %>>Indisponível</option>
              </select>
            </div>
            <!-- Valor -->
            <div class="input-container">
              <label for="valor">Valor Mensal: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o valor mensal do aluguel do imóvel">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input type="number" id="valor" name="valor" class="rounded-md focus:border-blue-500" 
              value = "<%= imovel.valor %>"
              title="Informe o valor mensal do aluguel do imóvel"
              required>
              <div class="error-message" id="valorError"></div>

            </div>
            <!-- RG do Proprietário -->
            <div class="input-container">
              <label for="rgProprietario">
                RG: <span class="text-red-500">*</span>
                <span class="info-icon" title="Digite um RG válido com 8 a 9 dígitos">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input
                type="text"
                id="rgProprietario"
                name="rgProprietario"
                placeholder="Digite sem pontuação"
                class="rounded-md focus:border-blue-500"
                maxlength="9"
                value = "<%= imovel.rgProprietario %>"
                required
                pattern="[0-9]{8,9}"
                title="Digite um RG válido com 8 a 9 dígitos"
              />
              <div class="error-message" id="rgError"></div>
            </div>
            <!-- CPF do Proprietário -->
            <div class="input-container">
              <label for="cpfProprietario">
                CPF: <span class="text-red-500">*</span>
                <span class="info-icon" title="Digite um CPF válido com 11 dígitos">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input
                type="text"
                id="cpfProprietario"
                name="cpfProprietario"
                placeholder="Digite sem pontuação"
                class="rounded-md focus:border-blue-500"
                maxlength="11"
                value = "<%= imovel.cpfProprietario %>"
                required
                pattern="[0-9]{11}"
                title="Digite um CPF válido com 11 dígitos"
              />
              <div class="error-message" id="cpfError"></div>
            </div>
            
          </div>
          <div>
            <!-- Descrição -->
            <div class="input-container">
              <label for="descricao">Descrição <span class="text-red-500">*</span>
                <span class="info-icon" title="Informe uma pequena descrição com 3 a 200 caracteres">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <textarea id="descricao" name="descricao" class="rounded-md focus:border-blue-500" rows="4"  maxlength="200"
              required
              title="Informe uma pequena descrição com 3 a 200 caracteres"
              pattern=".{3,200}"><%= imovel.descricao %></textarea>
              <div class="error-message" id="descricaoError"></div>
            </div>
           <!-- Fotos do Imóvel -->
            <div class="upload-container">
              <label for="fotos" class="block text-gray-700 font-semibold mb-2">Fotos (até 6 fotos): <span class="text-red-500">*</span>
                <span class="info-icon" title="Forneça até 6 imagens do imóvel, de preferência do mesmo tamanho">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <div class="relative">
                <input type="file" id="fotos" name="fotos" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" multiple accept="image/*" onchange="updateImageLabel(this)">
                <p id="fotosLabel">Clique para selecionar fotos</p>
              </div>
              <div class="error-message" id="fotosError"></div>
            </div>

            <script>
            function updateImageLabel(input) {
              const label = document.getElementById("fotosLabel");
              if (input.files && input.files.length > 0) {
                label.textContent = input.files.length + (input.files.length > 1 ? " fotos selecionadas" : " foto selecionada");
              } else {
                label.textContent = "Clique para selecionar fotos";
              }
            }
            </script>

            <!-- Documentos do Imóvel -->
            <div class="upload-container">
              <label for="pdfDocument" class="block text-gray-700 font-semibold mb-2">Documentos do Imóvel:</label>
              <div class="relative">
                <input type="file" id="pdfDocument" name="pdfDocument" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer" accept=".pdf" onchange="updatePDFLabel(this)">
                <p id="pdfDocumentLabel">Clique para selecionar um novo PDF</p>
              </div>
            </div>

            <script>
            function updatePDFLabel(input) {
              const label = document.getElementById("pdfDocumentLabel");
              if (input.files && input.files.length > 0) {
                label.textContent = "Novo PDF selecionado";
              } else {
                label.textContent = "Clique para selecionar um novo PDF";
              }
            }
            </script>



            <br>
            <!-- Número de Inscrição -->
            <div class="input-container">
              <label for="numeroInscricao">Número de Inscrição do Imóvel: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o número de inscrição do imóvel. Vem estampado na capa do carnê do IPTU">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value = "<%= imovel.numeroInscricao %>" type="text" id="numeroInscricao" name="numeroInscricao" class="rounded-md focus:border-blue-500" placeholder="Digite sem pontuação" 
              title="Informe o número de inscrição do imóvel. Vem estampado na capa do carnê do IPTU"
              required>
              <div class="error-message" id="numeroInscricaoError"></div>

            </div>
            <!-- Tipo de Imóvel -->
            <div class="input-container">
              <label for="tipoImovel">Tipo de Imóvel: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o tipo do imóvel">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="tipoImovel" name="tipoImovel" class="rounded-md focus:border-blue-500" 
              title="Informe o tipo do imóvel"
              required>
              <div class="error-message" id="tipoImovelError"></div>
              <option value="" <%= imovel.tipoImovel === '' ? 'selected' : '' %>>Escolha o tipo</option>
              <option value="Salão" <%= imovel.tipoImovel === 'Salão' ? 'selected' : '' %>>Salão Comercial</option>
              <option value="Casa" <%= imovel.tipoImovel === 'Casa' ? 'selected' : '' %>>Casa</option>
              <option value="Apartamento" <%= imovel.tipoImovel === 'Apartamento' ? 'selected' : '' %>>Apartamento</option>
              <option value="Chácara" <%= imovel.tipoImovel === 'Chácara' ? 'selected' : '' %>>Chácara</option>
              <option value="Loft" <%= imovel.tipoImovel === 'Loft' ? 'selected' : '' %>>Loft</option>
              <option value="Studio" <%= imovel.tipoImovel === 'Studio' ? 'selected' : '' %>>Studio</option>
              <option value="Condomínio" <%= imovel.tipoImovel === 'Condomínio' ? 'selected' : '' %>>Casa em Condomínio</option>
              <option value="Quitinete" <%= imovel.tipoImovel === 'Quitinete' ? 'selected' : '' %>>Quitinete</option>
              <option value="Flat" <%= imovel.tipoImovel === 'Flat' ? 'selected' : '' %>>Flat</option>
              </select>
            </div>

          </div>
          <div>
            <!-- Grande -->
            <div class="input-container">
              <label for="grande">Grande: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel é considerado grande (só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="grande" name="grande" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel é considerado grande (só aparecerá esse atributo se for verdadeiro)"
              required>
              <option value="" <%= imovel.grande === '' ? 'selected' : '' %>>Escolha a opção</option>
              <option value="1" <%= imovel.grande === true ? 'selected' : '' %>>Sim</option>
              <option value="0" <%= imovel.grande === false ? 'selected' : '' %>>Não</option>
            </select>
              </select>
            </div>
            <!-- Bem Localizado -->
            <div class="input-container">
              <label for="bemLocalizado">Bem Localizado: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel é bem localizado (só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="bemLocalizado" name="bemLocalizado" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel é bem localizado (só aparecerá esse atributo se for verdadeiro)"
              required>
              <option value="" <%= imovel.bemLocalizado === '' ? 'selected' : '' %>>Escolha a opção</option>
              <option value="1" <%= imovel.bemLocalizado === true ? 'selected' : '' %>>Sim</option>
              <option value="0" <%= imovel.bemLocalizado === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
            <!-- Condomínio Fechado -->
            <div class="input-container">
              <label for="condominioFechado">Condomínio Fechado: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel é em condomínio fechado (só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="condominioFechado" name="condominioFechado" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel é em condomínio fechado (só aparecerá esse atributo se for verdadeiro)"
              required>
              <option value="" <%= imovel.condominioFechado === '' ? 'selected' : '' %>>Escolha a opção</option>
              <option value="1" <%= imovel.condominioFechado === true ? 'selected' : '' %>>Sim</option>
              <option value="0" <%= imovel.condominioFechado === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
            <!-- Novo -->
            <div class="input-container">
              <label for="novo">Novo: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel é novo(só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="novo" name="novo" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel é novo(só aparecerá esse atributo se for verdadeiro)"
              required>
                <option value="" <%= imovel.novo === '' ? 'selected' : '' %>>Escolha a opção</option>
                <option value="1" <%= imovel.novo === true ? 'selected' : '' %>>Sim</option>
                <option value="0" <%= imovel.novo === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
            <!-- Estacionamento -->
            <div class="input-container">
              <label for="estacionamento">Estacionamento: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o imóvel tem estacionamento(só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="estacionamento" name="estacionamento" class="rounded-md focus:border-blue-500" 
              title="Informe se o imóvel tem estacionamento(só aparecerá esse atributo se for verdadeiro)"
              required>
                <option value="" <%= imovel.estacionamento === '' ? 'selected' : '' %>>Escolha a opção</option>
                <option value="1" <%= imovel.estacionamento === true ? 'selected' : '' %>>Sim</option>
                <option value="0" <%= imovel.estacionamento === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
            <!-- Água Gratuita -->
            <div class="input-container">
              <label for="aguaGratuita">Água Inclusa: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se a água é inclusa(só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="aguaGratuita" name="aguaGratuita" class="rounded-md focus:border-blue-500" 
              title="Informe se a água é inclusa(só aparecerá esse atributo se for verdadeiro)"
              required>
                <option value="" <%= imovel.aguaGratuita === '' ? 'selected' : '' %>>Escolha a opção</option>
                <option value="1" <%= imovel.aguaGratuita === true ? 'selected' : '' %>>Sim</option>
                <option value="0" <%= imovel.aguaGratuita === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
            <!-- IPTU Incluso -->
            <div class="input-container">
              <label for="iptuIncluso">IPTU Incluso: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe se o IPTU é incluso(só aparecerá esse atributo se for verdadeiro)">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="iptuIncluso" name="iptuIncluso" class="rounded-md focus:border-blue-500" 
              title="Informe se o IPTU é incluso(só aparecerá esse atributo se for verdadeiro)"
              required>
                <option value="" <%= imovel.iptuIncluso === '' ? 'selected' : '' %>>Escolha a opção</option>
                <option value="1" <%= imovel.iptuIncluso === true ? 'selected' : '' %>>Sim</option>
                <option value="0" <%= imovel.iptuIncluso === false ? 'selected' : '' %>>Não</option>
              </select>
            </div>
          </div>
        </div>

    <!-- Parte 2 e 3 - Informações de Endereço e Contato -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6">
      <!-- Seção 2 - Informações de Endereço -->
      <div class="md:col-span-2">
        <h2 class="text-lg font-semibold mb-4 border-b pb-2">Informações de Endereço</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Coluna 1 - Endereço -->
          <div>
            <!-- CEP -->
            <div class="input-container">
              <label for="enderecoCEP">CEP: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o CEP correto">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value="<%= imovel.enderecoCEP %>" type="text" id="enderecoCEP" name="enderecoCEP" class="rounded-md focus:border-blue-500" placeholder="Digite sem pontuação" 
              title="Informe o CEP correto"
              required>
              <div class="error-message" id="enderecoCEPError"></div>

            </div>
            <!-- Cidade -->
            <div class="input-container">
              <label for="enderecoCidade">Cidade: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe a cidade correta">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value="<%= imovel.enderecoCidade %>" type="text" id="enderecoCidade" name="enderecoCidade" class="rounded-md focus:border-blue-500" 
              title="Informe a cidade correta"
              required>
              <div class="error-message" id="enderecoCidadeError"></div>

            </div>
            <!-- Estado -->
            <div class="input-container">
              <label for="estadoNome">Estado: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o estado correto">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <select id="estadoNome" name="estadoNome" class="rounded-md focus:border-blue-500" 
              title="Informe o estado correto"
              required>
              <option value="" <%= imovel.estadoNome === '' ? 'selected' : '' %>>Selecione o estado</option>
              <option value="AC" <%= imovel.estadoNome === 'AC' ? 'selected' : '' %>>Acre</option>
              <option value="AL" <%= imovel.estadoNome === 'AL' ? 'selected' : '' %>>Alagoas</option>
              <option value="AP" <%= imovel.estadoNome === 'AP' ? 'selected' : '' %>>Amapá</option>
              <option value="AM" <%= imovel.estadoNome === 'AM' ? 'selected' : '' %>>Amazonas</option>
              <option value="BA" <%= imovel.estadoNome === 'BA' ? 'selected' : '' %>>Bahia</option>
              <option value="CE" <%= imovel.estadoNome === 'CE' ? 'selected' : '' %>>Ceará</option>
              <option value="DF" <%= imovel.estadoNome === 'DF' ? 'selected' : '' %>>Distrito Federal</option>
              <option value="ES" <%= imovel.estadoNome === 'ES' ? 'selected' : '' %>>Espírito Santo</option>
              <option value="GO" <%= imovel.estadoNome === 'GO' ? 'selected' : '' %>>Goiás</option>
              <option value="MA" <%= imovel.estadoNome === 'MA' ? 'selected' : '' %>>Maranhão</option>
              <option value="MT" <%= imovel.estadoNome === 'MT' ? 'selected' : '' %>>Mato Grosso</option>
              <option value="MS" <%= imovel.estadoNome === 'MS' ? 'selected' : '' %>>Mato Grosso do Sul</option>
              <option value="MG" <%= imovel.estadoNome === 'MG' ? 'selected' : '' %>>Minas Gerais</option>
              <option value="PA" <%= imovel.estadoNome === 'PA' ? 'selected' : '' %>>Pará</option>
              <option value="PB" <%= imovel.estadoNome === 'PB' ? 'selected' : '' %>>Paraíba</option>
              <option value="PR" <%= imovel.estadoNome === 'PR' ? 'selected' : '' %>>Paraná</option>
              <option value="PE" <%= imovel.estadoNome === 'PE' ? 'selected' : '' %>>Pernambuco</option>
              <option value="PI" <%= imovel.estadoNome === 'PI' ? 'selected' : '' %>>Piauí</option>
              <option value="RJ" <%= imovel.estadoNome === 'RJ' ? 'selected' : '' %>>Rio de Janeiro</option>
              <option value="RN" <%= imovel.estadoNome === 'RN' ? 'selected' : '' %>>Rio Grande do Norte</option>
              <option value="RS" <%= imovel.estadoNome === 'RS' ? 'selected' : '' %>>Rio Grande do Sul</option>
              <option value="RO" <%= imovel.estadoNome === 'RO' ? 'selected' : '' %>>Rondônia</option>
              <option value="RR" <%= imovel.estadoNome === 'RR' ? 'selected' : '' %>>Roraima</option>
              <option value="SC" <%= imovel.estadoNome === 'SC' ? 'selected' : '' %>>Santa Catarina</option>
              <option value="SP" <%= imovel.estadoNome === 'SP' ? 'selected' : '' %>>São Paulo</option>
              <option value="SE" <%= imovel.estadoNome === 'SE' ? 'selected' : '' %>>Sergipe</option>
              <option value="TO" <%= imovel.estadoNome === 'TO' ? 'selected' : '' %>>Tocantins</option>
              </select>
            </div>
          </div>
          <!-- Coluna 2 - Endereço -->

          <div>
            <!-- Rua -->
            <div class="input-container">
              <label for="enderecoRua">Rua: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe a rua correta">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value="<%= imovel.enderecoRua %>" type="text" id="enderecoRua" name="enderecoRua" class="rounded-md focus:border-blue-500" 
              title="Informe a rua correta"
              required>
              <div class="error-message" id="enderecoRuaError"></div>

            </div>
            <!-- Número -->
            <div class="input-container">
              <label for="enderecoNumero">Número: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o número do imóvel correto">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value="<%= imovel.enderecoNumero %>" type="text" id="enderecoNumero" name="enderecoNumero" class="rounded-md focus:border-blue-500" 
              title="Informe o número do imóvel correto"
              required>
              <div class="error-message" id="enderecoNumeroError"></div>

            </div>
            <!-- Bairro -->
            <div class="input-container">
              <label for="enderecoBairro">Bairro: <span class="text-red-500">*</span> 
                <span class="info-icon" title="Informe o bairro correto">
                  <i class="text-gray-500 cursor-pointer">&#9432;</i>
                </span>
              </label>
              <input value="<%= imovel.enderecoBairro %>" type="text" id="enderecoBairro" name="enderecoBairro" class="rounded-md focus:border-blue-500" 
              title="Informe o bairro correto"
              required>
              <div class="error-message" id="enderecoBairroError"></div>

            </div>
          </div>
          
        </div>
      </div>
      <!-- Seção 3 - Informações de Contato -->
      <div>
        <h2 class="text-lg font-semibold mb-4 border-b pb-2">
          Informações de Contato
        </h2>
        <!-- Telefone de Contato -->
        <div class="input-container">
          <label for="telefoneContato">Telefone de Contato: <span class="text-red-500">*</span> </label>
          <input value="<%= imovel.telefoneContato %>" type="tel" id="telefoneContato" name="telefoneContato" class="rounded-md focus:border-blue-500" placeholder="DDD e Número sem pontuação" required>
        </div>
        <!-- Email de Contato -->
        <div class="input-container">
          <label for="emailContato">
            Email: <span class="text-red-500">*</span>
            <span class="info-icon" title="Digite um nome email válido com @ e .">
              <i class="text-gray-500 cursor-pointer">&#9432;</i>
            </span>
          </label>
          <input
            type="email"
            id="emailContato"
            name="emailContato"
            value="<%= imovel.emailContato %>"
            class="rounded-md focus:border-blue-500"
            placeholder="exemplo@exemplo.com"
            required
            title="Digite um email válido com @ e ."
          />
          <div class="error-message" id="emailError"></div>
        </div>
      </div>
    </div>

    <div class="mt-4 flex justify-between">
      <button
        type="submit"
        class="w-1/2 bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition duration-300"
      >
        Cadastrar
      </button>
  
      <button
        type="button"
        onclick="window.location.href='/imoveis/meus-imoveis'"
        class="w-1/2 bg-red-500 hover:bg-red-600 text-black py-2 rounded-md transition duration-300 ml-2"
      >
        Cancelar
      </button>
    </div>
    </form>
  </div>
</div>



<script>
  const form = document.getElementById('imovelForm');
  const tamanhoInput = document.getElementById('tamanho');
  
  const quantidadeComodosInput = document.getElementById('quantidadeComodos');
  const mobiliadoInput = document.getElementById('mobiliado');
  const statusNegociacaoInput = document.getElementById('statusNegociacao');
  const valorInput = document.getElementById('valor');
  const rgInput = document.getElementById('rgProprietario');
  const cpfInput = document.getElementById('cpfProprietario');
  const descricaoInput = document.getElementById('descricao');
  const emailInput = document.getElementById('emailContato');

  const tipoImovelInput = document.getElementById('tipoImovel');
  const novoInput = document.getElementById('novo');
  const grandeInput = document.getElementById('grande');
  const bemLocalizadoInput = document.getElementById('bemLocalizado');
  const condominioFechadoInput = document.getElementById('condominioFechado');
  const estacionamentoInput = document.getElementById('estacionamento');
  const aguaGratuitaInput = document.getElementById('aguaGratuita');
  const iptuInclusoInput = document.getElementById('iptuIncluso');

  const enderecoCEPInput = document.getElementById("enderecoCEP");
  const enderecoRuaInput = document.getElementById("enderecoRua");
  const enderecoBairroInput = document.getElementById("enderecoBairro");
  const enderecoCidadeInput = document.getElementById("enderecoCidade");
  const estadoNomeInput = document.getElementById("estadoNome");
  

  form.addEventListener('submit', (event) => {
    let isValid = true;


    if (!validateEmail(emailInput.value)) {
      isValid = false;
      displayError(emailInput, 'Digite um email válido');
    }


    if (!/^[0-9]{8,9}$/.test(rgInput.value) || rgInput.value.length > rgInput.maxLength) {
      isValid = false;
      displayError(rgInput, 'Digite um RG válido com 8 a 9 dígitos');
    }
    
    if (!/^[0-9]{11}$/.test(cpfInput.value) || cpfInput.value.length > cpfInput.maxLength) {
      isValid = false;
      displayError(cpfInput, 'Digite um CPF válido com 11 dígitos');
    }

    if (!isValidCPF(cpfInput.value)) {
      isValid = false;
      displayError(cpfInput, 'Digite um CPF válido');
    }

    if (tamanhoInput.value <= 0) {
      isValid = false;
      displayError(tamanhoInput, 'O tamanho deve ser maior que 0');
    }

    if (quantidadeComodosInput.value <= 0) {
      isValid = false;
      displayError(quantidadeComodosInput, 'A quantidade de cômodos deve ser maior que 0');
    }

    if (valorInput.value <= 0) {
      isValid = false;
      displayError(valorInput, 'O valor deve ser maior que 0');
    }

    if (descricaoInput.value.length < 3) {
      isValid = false;
      displayError(descricaoInput, 'A descrição deve ter pelo menos 3 caracteres');
    }

    if (!validateEmail(emailInput.value)) {
      isValid = false;
      displayError(emailInput, 'Digite um email válido');
    }
    


    if (!isValid) {
      event.preventDefault();
    }

  });

  function validateEmail(email) {
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
  }

  function clearError(input) {
    const errorDiv = input.nextElementSibling;
    if (errorDiv) {
      errorDiv.textContent = '';
    }
    input.classList.remove('border', 'border-red-500');
  }

  function displayError(input, message) {
    const errorDiv = input.nextElementSibling;
    errorDiv.textContent = message;
    input.classList.add('border', 'border-red-500');
  }


  


  tamanhoInput.addEventListener('input', () => clearError(tamanhoInput));
  quantidadeComodosInput.addEventListener('input', () => clearError(quantidadeComodosInput));
  mobiliadoInput.addEventListener('input', () => clearError(mobiliadoInput));
  statusNegociacaoInput.addEventListener('input', () => clearError(statusNegociacaoInput));
  valorInput.addEventListener('input', () => clearError(valorInput));
  rgInput.addEventListener('input', () => clearError(rgInput));
  cpfInput.addEventListener('input', () => clearError(cpfInput));
  descricaoInput.addEventListener('input', () => clearError(descricaoInput));
  emailInput.addEventListener('input', () => clearError(emailInput));

  tipoImovelInput.addEventListener('input', () => clearError(tipoImovelInput));
  novoInput.addEventListener('input', () => clearError(novoInput));
  grandeInput.addEventListener('input', () => clearError(grandeInput));
  bemLocalizadoInput.addEventListener('input', () => clearError(bemLocalizadoInput));
  condominioFechadoInput.addEventListener('input', () => clearError(condominioFechadoInput));
  estacionamentoInput.addEventListener('input', () => clearError(estacionamentoInput));
  aguaGratuitaInput.addEventListener('input', () => clearError(aguaGratuitaInput));
  iptuInclusoInput.addEventListener('input', () => clearError(iptuInclusoInput));

  enderecoCEPInput.addEventListener('input', () => clearError(enderecoCEPInput));
  enderecoRuaInput.addEventListener('input', () => clearError(enderecoRuaInput));
  enderecoBairroInput.addEventListener('input', () => clearError(enderecoBairroInput));
  enderecoCidadeInput.addEventListener('input', () => clearError(enderecoCidadeInput));
  estadoNomeInput.addEventListener('input', () => clearError(estadoNomeInput));



  rgInput.addEventListener('input', (event) => {
    event.target.value = event.target.value.replace(/\D/g, ''); 
  });

  cpfInput.addEventListener('input', (event) => {
    event.target.value = event.target.value.replace(/\D/g, ''); 
  });

  valorInput.addEventListener('input', (event) => {
    event.target.value = event.target.value.replace(/\D/g, ''); 
  });

  enderecoCEPInput.addEventListener('input', (event) => {
    event.target.value = event.target.value.replace(/\D/g, ''); 
  });


  function isValidCPF(cpf) {
    cpf = cpf.replace(/\D/g, ''); // Remove caracteres não numéricos
    if (cpf.length !== 11) {
      return false;
    }
  
    // Verifica se todos os dígitos são iguais (situação inválida)
    if (/^(\d)\1+$/.test(cpf)) {
      return false;
    }
  
    const cpfArray = cpf.split('').map(Number);
  
    // Calcula o primeiro dígito verificador
    let sum = 0;
    for (let i = 0; i < 9; i++) {
      sum += cpfArray[i] * (10 - i);
    }
    let remainder = (sum * 10) % 11;
    if (remainder === 10 || remainder === 11) {
      remainder = 0;
    }
    if (remainder !== cpfArray[9]) {
      return false;
    }
  
    // Calcula o segundo dígito verificador
    sum = 0;
    for (let i = 0; i < 10; i++) {
      sum += cpfArray[i] * (11 - i);
    }
    remainder = (sum * 10) % 11;
    if (remainder === 10 || remainder === 11) {
      remainder = 0;
    }
    if (remainder !== cpfArray[10]) {
      return false;
    }
  
    return true;
  }
  
  // Exemplos de uso:
  const cpf1 = '123.456.789-09';
  console.log(isValidCPF(cpf1)); // Deve retornar true
  
  const cpf2 = '111.222.333-44';
  console.log(isValidCPF(cpf2)); // Deve retornar false
  


</script>





<script>

  document.addEventListener("DOMContentLoaded", function () {
    const enderecoCEP = document.getElementById("enderecoCEP");
    const enderecoRua = document.getElementById("enderecoRua");
    const enderecoBairro = document.getElementById("enderecoBairro");
    const enderecoCidade = document.getElementById("enderecoCidade");
    const estadoNome = document.getElementById("estadoNome");

    enderecoCEP.addEventListener("blur", function () {
      const cep = enderecoCEP.value.replace(/\D/g, "");

      if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then((response) => response.json())
          .then((data) => {
            if (!data.erro) {
              enderecoRua.value = data.logradouro;
              enderecoBairro.value = data.bairro;
              enderecoCidade.value = data.localidade;
              estadoNome.value = data.uf;
            }
          })
          .catch((error) => {
            console.error("Erro ao buscar CEP:", error);
          });
      }
    });
  });

  
  function updateImageLabel(input) {
    const label = document.getElementById('fotosLabel');
    if (input.files.length > 0) {
      label.textContent = `${input.files.length} fotos selecionadas`;
    } else {
      label.textContent = 'Clique para selecionar fotos';
    }
  }

  function updatePDFLabel(input) {
    const label = document.getElementById('pdfDocumentLabel');
    if (input.files.length > 0) {
      label.textContent = `${input.files[0].name} selecionado`;
    } else {
      label.textContent = 'Clique para selecionar um PDF';
    }
  }

  const examplePhrases = [
  "Lindo apartamento com vista para o mar.",
  "Casa espaçosa com jardim e piscina.",
  "Sala comercial em uma localização privilegiada.",
  "Charmoso chalé nas montanhas.",
  "Imóvel ideal para famílias grandes.",
  "Apartamento moderno e bem iluminado.",
  "Casa térrea com amplo quintal.",
  "Sítio tranquilo e rodeado pela natureza.",
  "Cobertura de luxo com terraço panorâmico.",
  "Apartamento mobiliado em condomínio resort.",
  "Loja ampla com grande visibilidade.",
  "Casa com arquitetura contemporânea.",
  "Sala de escritório moderna e funcional.",
  "Apartamento próximo a parques e comércio.",
  "Casa com acabamentos de alta qualidade.",
  "Studio compacto e aconchegante.",
  "Terreno amplo em área valorizada.",
  "Apartamento duplex com design exclusivo.",
  "Casa charmosa em bairro arborizado.",
  "Loft espaçoso com pé-direito alto."
];

  const randomIndex = Math.floor(Math.random() * examplePhrases.length);
  const randomPhrase = examplePhrases[randomIndex];
  descricaoInput.placeholder = randomPhrase;

</script>

<script>
  window.addEventListener('load', () => {
    populateFavoritesList();
  });
</script>
<script>
    
  const favoritesList = document.getElementById('favoritesList');

  async function getImovelData(imovelId) {
    try {
      const response = await fetch(`/imoveis/${imovelId}/relevant-fields`);
      if (response.ok) {
        const data = await response.json();
        const relevantData = {
          id: data.id,
          enderecoRua: data.enderecoRua,
          enderecoNumero: data.enderecoNumero,
          enderecoBairro: data.enderecoBairro,
          enderecoCidade: data.enderecoCidade,
          valor: data.valor
        };
        return relevantData;
      } else {
        console.error('Failed to fetch property data');
        return null;
      }
    } catch (error) {
      console.error('Error fetching property data:', error);
      return null;
    }
  }
  
  async function populateFavoritesList() {
    favoritesList.innerHTML = '';
  
    let hasFavoritedProperties = false;
    let favoritesCount = 0;
  
    for (let i = 0; i < localStorage.length; i++) {
      const key = localStorage.key(i);
      if (key.startsWith('liked_') && localStorage.getItem(key) === 'true') {
        const imovelId = key.substring(6);
        const imovel = await getImovelData(imovelId);
        if (imovel) {
          hasFavoritedProperties = true;
          favoritesCount++;
  
          const listItem = document.createElement('div');
          listItem.className = 'dropdown-item';
          const link = document.createElement('a');
          link.href = `/imoveis/informacoes-imovel/${imovelId}`;
  

  
          link.innerHTML = `

            <p><strong>Endereço:</strong> ${imovel.enderecoRua}, ${imovel.enderecoNumero}, ${imovel.enderecoBairro}, ${imovel.enderecoCidade}</p>
            <p><strong>Valor:</strong> R$ ${imovel.valor}</p>
            <hr>
          `;
          listItem.appendChild(link);
          favoritesList.appendChild(listItem);
        }
      }
    }
  
    const favoritesCountSpan = document.getElementById('favoritesCount');
    favoritesCountSpan.textContent = favoritesCount;
  
    if (!hasFavoritedProperties) {
      const noFavoritesMessage = document.createElement('div');
      noFavoritesMessage.className = 'dropdown-item';
      noFavoritesMessage.innerText = 'Nenhum imóvel curtido ainda ( ´•︵•` )';
      favoritesList.appendChild(noFavoritesMessage);
    }
  }
  
  const favoritesDropdown = document.getElementById('favoritesDropdown');
  favoritesDropdown.addEventListener('click', populateFavoritesList);
  

</script>




<!-- Scripts JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

</body>
</html>